body{
  background:#0b0b0b;
  color:#ff4d4d;
  font-family: monospace;
  padding:20px;
}
.container{
  max-width:600px;
  margin:auto;
  border:1px solid #ff4d4d;
  padding:20px;
  border-radius:12px;
}
h1,h3{text-align:center;}
.notice{
  border:1px dashed #ff4d4d;
  padding:10px;
  margin-bottom:10px;
  font-size:13px;
}
input,button{
  width:100%;
  padding:10px;
  margin:6px 0;
  background:black;
  color:#ff4d4d;
  border:1px solid #ff4d4d;
  border-radius:6px;
}
button:hover{
  background:#ff4d4d;
  color:black;
  cursor:pointer;
}
pre{
  background:black;
  padding:10px;
  margin-top:10px;
  border:1px solid #ff4d4d;
  border-radius:6px;
}
.footer{
  text-align:center;
  margin-top:15px;
  font-size:12px;
}
.footer a{color:#ff1d0d;}
.dev-link{
  display:block;
  text-align:center;
  margin-top:10px;
  color:#ff4d4d;
  }
